/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(200, 200, 200);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    

.link{
    background-color: rgba(132, 180, 230, 0.5);

    padding:10px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    text-decoration: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
}

.link:hover{

    background-color: rgba(68, 116, 237, 0.821);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.myWeek3{
    margin: auto;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.myWeek4{
    margin: auto;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.myWeek5{
    align-items: center;
    margin: auto;
    max-width: 1200px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.myWeek7{
    margin: auto;
    max-width: 750px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}


/* Set the apperance of the class, chart */
.chart{
   
    background-color: rgb(206, 190, 161);
    width:375px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(60, 60,60);
}

.chartw5{
    align-items: center;
    background-color: white;
    width:360px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 30px;
    margin-bottom: 30px;
}

.chartw7{
    align-items: center;
    background-color: white;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 30px;
}
    